<ion-header>
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="homepage">
    <form #form="ngForm" (ngSubmit) = "presentAlertConfirm(form)" method="post">
    <ion-row>
      <ion-input class="input" ngModel placeholder="Name" name="name" type="text" ></ion-input>
    </ion-row>
    <br>

    <ion-row>
      <ion-input class="input" ngModel placeholder="Nickname"  name="nickname" type="text"></ion-input>
    </ion-row>
    <br>
    <ion-row>
      <ion-input class="input" ngModel placeholder="Age"  name="age" type="number"></ion-input>
    </ion-row>

    <br>

      <ion-row>
      <ion-button class="button" color="primary" type="submit">Submit</ion-button>
  
    </ion-row>
  </form>
  </ion-grid>
</ion-content>