<ion-header>
  <ion-toolbar>
    <ion-title>
      Home1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-input placeholder="Name" type="text" name="name"></ion-input>
    </ion-row>

    <ion-row>
      <ion-input placeholder="Nickname" type="text" name="nickname"></ion-input>
    </ion-row>

    <ion-row>
      <ion-input placeholder="Age" type="number" name="age"></ion-input>
    </ion-row>
  </ion-grid>
    <ion-grid>
      <ion-row>
      <ion-button color="primary" (click)="submit()">Submit</ion-button>
  
    </ion-row>
  </ion-grid>
</ion-content>